# System
PUID=1000
PGID=1000
TZ=Australia/Sydney

# Gluetun
VPN_PROVIDER=
VPN_WG_PRIVATE_KEY=
VPN_WG_ADDRESS=
VPN_CITIES=optional
VPN_COUNTRIES=optional
VPN_DNS_ADDRESS=
INTERNAL_SUBNETS=192.168.0.0/12
